package api

import (
	"github.com/gofiber/fiber/v2"
	"github.com/innotechdevops/core"
	"{{.Module}}/internal/app/api/health"
	//+codegen:import routers:package
)

type Routers interface {
	core.Routers
}

type routers struct {
    HealthRoute health.Router
	//+codegen:struct routers
}

func (r *routers) Initials(app *fiber.App) {
    r.HealthRoute.Initial(app)
	//+codegen:func initials
}

func NewRouters(
    healthRoute health.Router,
	//+codegen:func new:routers
) Routers {
	return &routers{
	    HealthRoute: healthRoute,
		//+codegen:return &routers
	}
}
