env: "development"

api:
  port: 9001

role:
  admin: "admin"
  user: "user"

jwt:
  secret: "secret"

casbin:
  model: "policy/model.conf"
  policy: "policy/policy.csv"

{{- if .HasMongoDB }}

mongodb:
  host: "localhost"
  port: 27017
  database: "mongoDB"
  user: "root"
  pass: "password"
{{- end }}
{{- if .HasMariaDB }}

mariadb:
  host: "localhost"
  port: 3306
  database: "mariaDB"
  user: "root"
  pass: "password"
{{- end }}
{{- if .HasInfluxDB3 }}

influxdb3:
  host: "http://localhost:8181"
  token: ""
  organization: ""
  database: "influxDB"
{{- end }}
