//+build wireinject

package database

import (
	"github.com/google/wire"
)

func NewDatabaseDriver() Drivers {
	wire.Build({{if .HasMongoDB}}NewMongoDBDriver, {{end}}{{if .HasMariaDB}}NewMariaDBDriver, {{end}}{{if .HasInfluxDB3}}NewInfluxDB3Client, {{end}}NewDrivers)
	return nil
}
