package grpc

import (
	"google.golang.org/grpc"
	healthv1 "{{.Module}}/internal/app/grpc/health/v1"
	//+codegen:import grpc:package
)

type Servers interface {
	Initials(svr *grpc.Server)
}

type servers struct {
	healthServiceServer healthv1.HealthServiceServer
	//+codegen:struct grpc
}

func (s *servers) Initials(svr *grpc.Server) {
	healthv1.RegisterHealthServiceServer(svr, s.healthServiceServer)
	//+codegen:func grpc:initials
}

func NewServers(
	healthServiceServer healthv1.HealthServiceServer,
	//+codegen:func grpc:new
) Servers {
	return &servers{
		healthServiceServer: healthServiceServer,
		//+codegen:return grpc
	}
}
