module {{.Module}}

go 1.23

require (
	github.com/eclipse/paho.mqtt.golang v1.4.2
	github.com/fsnotify/fsnotify v1.7.0
	github.com/mochi-mqtt/server/v2 v2.7.9
	github.com/spf13/viper v1.10.1
	github.com/urfave/cli/v2 v2.3.0
)
