//go:build wireinject
// +build wireinject

package {{.PackageName}}

import (
	"github.com/google/wire"
	"{{.Module}}/internal/app"
	"{{.Module}}/internal/app/api"
	"{{.Module}}/internal/app/api/health"
{{- if .HasDatabase }}
	"{{.Module}}/internal/database"
{{- end }}
	"{{.Module}}/internal/pkg/response"
	"{{.Module}}/internal/pkg/validator"
	"{{.Module}}/pkg/requestx"
	//+codegen:import wire:package
)

func CreateApp({{if .HasDatabase}}dbDriver database.Drivers{{end}}) app.App {
	wire.Build(
		app.NewApp,
		api.New,
		api.NewRouters,
		response.New,
		validator.New,
		requestx.NewRequestHandler,
		health.ProviderSet,
		//+codegen:func wire:build
	)
	return nil
}
